
// Body
$body-bg: #FFF !default;
$body-color: #505050;

$font-family: "Source Sans Pro", sans-serif !default;


//color scheme
$color1-active : #6059EE;
$color1-hover : #2117e3; 

$btn-primary-bg:                 $color1-active !default;
$btn-primary-border:             $color1-active !default;

$btn-success-bg:                 #029b17;
$btn-success-border:             #029b17;

$btn-info-bg:                    #29b6f6 !default;
$btn-info-border:                #29b6f6 !default;

