{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
	<title>{{{ output.page_title }}}</title>
	{{{ output.standard_head_html }}}
	<link rel="shortcut icon" href="{{{ output.favicon }}}" />
</head>
<body {{{ bodyattributes }}}>
	{{{ output.standard_top_of_body_html }}}
	<div class="page-container">
		
		<div class="page-sidebar">
			<header class="site-header clearfix">
				<div class="site-logo">
					<a href="{{{ homeurl }}}">
		            	<img src="{{{ logo }}}" alt="Integral">
		            </a>
				</div>
			</header>
			{{{ sidepreblocks }}}

		</div><!-- /page-sidebar -->

		<div class="main-container">
			{{>theme_integral/header}}

			<div class="main-content">
				
				<div class="pull-right heading-button">
				{{{ output.page_heading_button }}}
				</div>

				{{{ output.page_heading }}}
				{{{ output.navbar }}}
				
				{{{ output.course_content_header }}}
				{{{ output.main_content }}}
				{{{ output.course_content_footer }}}
			</div><!-- /main-content -->

		</div><!-- /main-container -->
	
	</div><!-- /page-container -->

	{{{ output.standard_end_of_body_html }}}
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
