<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{node.text}}</a>
    <div class="dropdown-menu">
        {{#node.children}}
            {{^children.count}}
                {{#display}}
                    <a class="dropdown-item" href="{{{action}}}">{{text}}</a>
                {{/display}}
            {{/children.count}}
        {{/node.children}}
    </div>
    </li>
    {{#node.children}}
        {{#display}}
            {{#is_short_branch}}
              {{#children.count}}
                  <li class="nav-item dropdown">
                      {{#action}}<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{action}}" role="button" aria-haspopup="true" aria-expanded="false">{{text}}</a>{{/action}}
                      {{^action}}<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{text}}</a>{{/action}}
                      <div class="dropdown-menu">
                          {{> theme_integral/course_link_page_single }}
                      </div>
                  </li>
              {{/children.count}}
            {{/is_short_branch}}
        {{/display}}
    {{/node.children}}
    {{#node.children}}
        {{#display}}
            {{^is_short_branch}}
              {{#children.count}}
                  <li class="nav-item dropdown">
                      {{#action}}<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{action}}" role="button" aria-haspopup="true" aria-expanded="false">{{text}}</a>{{/action}}
                      {{^action}}<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{text}}</a>{{/action}}
                      <div class="dropdown-menu">
                          {{> theme_integral/course_link_page_single }}
                      </div>
                  </li>
              {{/children.count}}
            {{/is_short_branch}}
        {{/display}}
    {{/node.children}}
</ul>