{{#children}}
{{#display}}
    {{^children.count}}
    {{#action}}
        <a class="dropdown-item" href="{{{action}}}">{{text}}</a>
    {{/action}}
    {{/children.count}}
{{/display}}
{{/children}}

{{#children}}
{{#display}}
    {{#children.count}}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{{action}}}">{{text}}</a>
        {{> theme_side/course_link_page_single }}
    {{/children.count}}
{{/display}}
{{/children}}



    