<div class="main-header row">
	<div class="col-sm-6 col-xs-7">
		<a id="menu-bar-link"><span class="fa fa-bars"></span></a> {{{ output.user_menu }}}
	</div>
	<div class="col-sm-6 col-xs-7">
		{{{ output.navbar_plugin_output }}}
	</div>
</div><!-- /main-header -->
