body 
{
    height: 100%;
    overflow-x: hidden;
}

a 
{
    color: $color1-active;
    text-decoration: none;
    transition: .3s;
    outline: none;
    &:visited
    {
        color: $color1-active;
    }
    &:hover, &:focus
    {
        color: $color1-hover;
    	outline: none;
    	text-decoration: none;
    }
}

p
{
	outline: none;
}

h3
{
	font-size: 16px;
}

td, th
{
    border: none;
}

ul
{
    margin: 0;
}