.btn-group-vertical > .btn-group::after, 
.btn-toolbar::after, 
.clearfix::after, 
.container-fluid::after, 
.container::after, 
.dl-horizontal dd::after, 
.form-horizontal .form-group::after, 
.modal-footer::after, 
.modal-header::after, 
.nav::after, 
.navbar-collapse::after, 
.navbar-header::after, 
.navbar::after, 
.pager::after, 
.panel-body::after, .row::after 
{
    clear: both;
}

.page-container {
    height: 100%;
    width: 100%;
    position: relative;
    display: table;
    table-layout: fixed;
    background-color: #f8f8f8;
}
.page-title {
    font-size: 24px;
    margin-bottom: 15px;
}
.main-container 
{
    background-color: #FFF;
    position: relative;
    display: table-cell;
    width: 100%;
    padding-left: 280px;
    vertical-align: top;
    .block
    {
        border: 1px solid #ddd;
    }
}

.page-sidebar 
{
    position: fixed;
    display: table-cell;
    background-color: #f8f8f8;
    color: #252525;
    height: 100%;
    width: 280px;
    vertical-align: top;
    z-index: 101;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.sidebar-collapse, .sidebar-mobile-menu {
    float: right;
    position: relative;
}

.main-content 
{
    padding: 30px 20px;
}

.dropdown-menu .dropdown-divider
{
    display: block;
}

ul.main-menu {
    font-size: 14px;
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


#block-region-content .block, 
#post-block-region-content .block
{
    margin-bottom: 30px;
}

#post-block-region-content
{
    padding-top: 50px;
}

.block-region
{
    .block
    {
        .block-hider-hide { display: block; }
        .block-hider-show { display: none; }
        .content { display: block; }
        position: relative;
        .block_action
        {
            position: absolute;
            right: 10px;
            top: 10px;
        }
        .block-control-actions
        {
            float: right;
        }
        h2
        {   
            padding: 12px 20px;
            font-size: 14px;
            margin-bottom: 0;
            background-color: $color1-active;
            color : #fff;
        }
        .content
        {
            background-color: #fff;
            padding: 10px 20px 20px;
        }
        ul
        {
            margin-top: -6px;
        }
    }
    .block.hidden
    {
        .block-hider-hide { display: none; }
        .block-hider-show { display: block; }
        .content { display: none; }
    }
}

.maincalendar, .minicalendar 
{
    td:hover
    {
        background-color: #EEE;
    }
}

#maincontent
{
    margin-top: 30px;
}

div[role="main"]
{
    padding: 5px 0;
}

#page-login-index div[role="main"]
{
    border: none;
}

.main-footer
{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0 1px;
}

.heading-button
{
    padding: 20px;
}


ul.tabrow0
{
    padding: 0;
    @extend .clearfix;
    li
    {
        float: left;
        margin-right: 20px;
    }
}

#block-region-side-pre
{
    overflow-y: auto;
    height: 100%;   
}

#menu-bar-link
{
    cursor: pointer;
    span
    {
        float: left;
        font-size: 31px;
        margin-right: 20px;
        line-height: 36px;
    }
}

.course-menu
{
    @extend .clearfix;
    margin: 0;
    padding: 5px 5px;
    .dropdown-menu 
    {
        .dropdown-item
        {
            border: none;
        }
        .dropdown-divider
        {
            display: block;
        }
    }
    .nav-tabs .nav-link
    {
        color: #55595c;
    }
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link:hover
    {
        border-color: transparent;
        border-bottom: 1px solid #ddd;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover
    {
        border-color: transparent;
    }
}

.mod-indent-outer
{
    position: relative;
    width: 100%;
}