.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.breadcrumb-2 
{
    background-color: transparent;
    padding: 0;
    margin: 0;
}

ul.user-info {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.user-info > li {
    float: left;
    margin-right: 3px;
    a
    {
        color: #fff;
    }
    .dropdown-menu
    {
        border-top: none;
        @include box-shadow(0 6px 12px rgba(0,0,0,.175));
        li
        {    
            line-height: 1.5;
            -webkit-transition: all 300ms ease-in-out 0s;
            -o-transition: all 300ms ease-in-out 0s;
            transition: all 300ms ease-in-out 0s;
            &:hover
            {
                background-color: #f8f8f8;
            }
            a
            {
                display: block;
                width: 100%;
                color: #333;
                padding: 5px 0 5px 15px;
            }
        }
    }
}

.main-header
{
    padding: 10px;
    border-bottom: solid 1px #e3e1e1;
    margin: 0;
    background: #000;
    color: #fff;
}

.site-header {
    overflow: hidden;
    padding: 25px 20px;
    position: relative;
    z-index: 101;
    .site-logo {
        float: left;
        position: relative;
    }
}